@charset "UTF-8";

/* ---------- 컨텐츠 영역 ---------- */
#content_container {
    /* 세로 크기 : 1550(px) */
    width: 100%;
    color: rgb(255, 255, 255);
    position: relative;
}

/* ===== 제목 + 최신 게임 ===== */
.main_text, .new_game_container, .genre_search_container {
    /* 컨텐츠 영역 기본 좌우 여백 10% */
    margin-left: 10%;
    margin-right: 10%;
}

/* ===== 제목 ===== */
.main_text {
    /* 폰트 설정 */
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}


/* ===== 최고 평점 TOP 5 ===== */

/* 세로 크기 : 550(px) */
#top_rate_container { height: 650px; }

/* ~~~ 게임 상세 페이지 링크 연결 버튼 ~~~ */
#top_rate_center {
    /* 센터 슬라이드 위치로 설정 */
    position: absolute;
    width: 81%;
    height: 600px;
    margin-left: 9.5%;
    top: 46px;
    z-index: 1;
    /* 투명 버튼으로 변경 */
    background-color: transparent;
    border: 0;
}

/* ~~~ 최고 평점 TOP 5 이미지 ~~~ */
#top_rate_container img {
    /* 크기 맞춤 100% x 500(px) */
    width: 100%;
    height: 600px;
}
iframe {
    /* 크기 맞춤 100% x 500(px) */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

/* ~~~ 최고 평점 TOP 5 슬라이더 효과 ~~~ */

/* 슬라이드 효과 */
#top_rate_container .slick-slide {
    /* 슬라이드 간 좌우 여백 설정 */
    margin-left: 10px;
    margin-right: 10px;
}
#top_rate_container .slick-slide:not(.slick-active) {
    /* 양쪽 슬라이드 흐리게 표시 */
    opacity: 0.2;
    transition: opacity 0.7s ease;
}
#top_rate_container .slick-active {
    /* 센터 슬라이드 선명하게 표시 */
    opacity: 1;
    transition: opacity 1s ease;
}

/* 화살표 + 페이징 버튼 효과 */

/* 색상 변경 */
.slick-arrow::before, .slick-dots li button::before { color: #64ffda !important; }
/* 크기 변경 */
#top_rate_container .slick-arrow::before { font-size: 60px; }
.slick-dots li button::before { font-size: 15px !important; }
/* 화살표 위치 변경 */
#top_rate_container .slick-prev, #top_rate_container .slick-next {
    top: 40%;
    z-index: 1;
}
#top_rate_container .slick-prev { left: 5.5%; }
#top_rate_container .slick-next { right: 7.7%; }
/* 페이징 버튼 위치 변경 */
.slick-dots { bottom: 5px !important; }


/* ===== 최신 게임 ===== */

/* 세로 크기 : 450(px) */
.new_game_container { height: 450px; }
.new_game_container>div {
    height: 400px;
    position: relative;
}

/* ~~~ 최신 게임 이미지 ~~~ */
.new_game_container .thumbnail {
    /* 좌우 여백 설정 */
    padding-left: 7px;
    padding-right: 7px;
    /* 크기 맞춤 100% x 350(px) */
    width: 100%;
    height: 350px;
    /* 테두리 효과 */
    border-radius: 20px;
}
.new_game_container .number {
    position: absolute;
    z-index: 1;
    margin: auto;
    margin-left: 30px;
    bottom: -50px;
    /* 크기 맞춤 100% x 350(px) */
    width: 1%;
    height: 80px;
}
i.fa-circle-play {
    position: absolute;
    font-size: 80px;
    margin-top: 130px;
    margin-left: 100px;
    color:rgb(255, 255, 255);
}

/* ~~~ 최신 게임 슬라이더 효과 ~~~ */

/* 화살표 효과 */

/* 이미지 변경 */
.new_game_container .slick-prev::before, .genre_search_container .slick-prev::before { content: url('../image/common/left-arrow.png'); }
.new_game_container .slick-next::before, .genre_search_container .slick-next::before { content: url('../image/common/right-arrow.png'); }
/* 위치 변경 */
.new_game_container .slick-prev, .new_game_container .slick-next { top: 35%; }
.new_game_container .slick-prev, .genre_search_container .slick-prev { left: -5%; }
.new_game_container .slick-next, .genre_search_container .slick-next { right: -3.5%; }


/* ===== 장르 검색 ===== */

/* 세로 크기 : 400(px) */
.genre_search_container { height: 400px; }

/* ~~~ 장르 검색 이미지 ~~~ */
.genre_search_container img {
    /* 좌우 여백 설정 */
    padding-left: 7px;
    padding-right: 7px;
    /* 크기 맞춤 100% x 350(px) */
    width: 100%;
    height: 350px;
    /* 테두리 효과 */
    border-radius: 20px;
}

/* ~~~ 장르 검색 슬라이더 효과 ~~~ */

/* 화살표 효과 */

/* 위치 변경 */
.genre_search_container .slick-prev, .genre_search_container .slick-next { top: 40%; }

.new_game_container a:hover img, .genre_search_container a:hover img {
    transform: scale(1.05);
    transition: transform 0.2s;
}